[tools]
python = "3.13"
node = '24.3.0'

[env]
_.python.venv = { path = ".venv", create = true }
PYTHONIOENCODING = "utf-8"

[hooks]
postinstall = "python -m pip install -r requirements.txt"

[tasks.chords]
run = "python -m src.chords"

[tasks.serve]
run = "npx -y live-server"

[tasks.test-pytest]
#run = "python -m pytest --verbose --doctest-modules --log-cli-level=INFO"
#run = "python -m pytest --cov-report term:skip-covered --cov=src -vv -rA --log-cli-level=INFO --html=report.html --self-contained-html"
run = "python -m pytest -rA --json-report=report_output/final_report.json -capture-screenshots=none --should-open-report=never && mv plus_metadata.json report_output/plus_metadata.json"

[tasks.test-pytest-watch]
run = "mise watch test-pytest"

[tasks.test-livereload]
env.INDEX = """<html>
<head>
    <meta http-equiv="refresh" content="0; url=report.html"/>
"""
env.REPORT_DIR = "report_output"
run = "livereload report_output"

[tasks.test]
run = "mise run test-livereload ::: test-pytest-watch"