[tools]
python = "3.13"
node = '24.3.0'
watchexec = "latest"

[env]
_.python.venv = { path = ".venv", create = true }
PYTHONIOENCODING = "utf-8"
LANG="en_US.UTF-8"
LC_ALL="en_US.UTF-8"

[hooks]
postinstall = "python -m pip install -e .[test]"

[tasks.build]
run = [
    "rm -rf report_output",
    "python3 -m pip install --upgrade build",
    "python3 -m build"
]

[tasks.publish]
description = """
Publish to Test PyPi

To install from testpypi:
python3 -m pip install --index-url https://test.pypi.org/simple/ --no-deps giflwmd
"""
run = [
    "python3 -m pip install --upgrade twine",
    "python3 -m twine upload --repository testpypi dist/*"
]

[tasks.host-ip]
run = """python -c "import socket; print(socket.gethostbyname(socket.gethostname()))" """

[tasks.chords]
run = "python -m src.widemd chords"

[tasks.fountain]
run = "python -m src.widemd fountain"

[tasks.devf]
run = "mise watch -w . -w src -w src/widemd/templates -- fountain"

[tasks.serve]
run = "npx -y live-server"

[tasks.test-pytest]
run = "python -m pytest --log-cli-level=WARN -rA -vv --json-report=report_output/final_report.json -capture-screenshots=none --should-open-report=never && mv plus_metadata.json report_output/plus_metadata.json"

[tasks.test-pytest-watch]
run = "mise watch test-pytest"

[tasks.test-index]
run = ["mkdir report_output", """ echo "<html><head><meta http-equiv='refresh' content='0; url=report.html'/>" > report_output/index.html"""]

[tasks.test-livereload]
run = "mise exec -- livereload --host 0.0.0.0 report_output"

[tasks.test]
run = "mise run test-index ::: test-livereload ::: test-pytest-watch"
