/*
* {
    border-radius: 0 !important;
}
*/
ol {
    list-style: decimal-leading-zero inside;
}

.cloak {
    display: none;
}
.chords, #chords {
    background-color: white;
}
.chords {
    font-size: var(--chords-font-size);
    column-gap: 1ex;
    column-rule: 1px solid lightgray;
    column-fill: balance;
    font-family: 'MesloLGSDZ Nerd Font Mono', monospace;
    text-align: left;
    line-height: 1.1em;
    padding: 1ex;
}

.chords.chords-cols-4 {
    columns: 40ex 4;
}

.chords.chords-cols-3 {
    columns: 53ex 3;
}

.chords.chords-cols-2 {
    columns: 80ex 2;
}

.chords > * {
    break-inside: avoid-column;
}

.chords p {
    white-space: pre-wrap;
}

.chords > *:first-child > p:first-child {
    margin-top: 0 !important;
}
